{{ define "main" }}
<main>
{{partial "single-work/page-header.html" . }}

    {{if isset .Params "process"}}
    {{partial "single-work/page-nav.html" .Params.process}}
    {{end}}
    <!-- for each section declared in the index.md, grab the associated resource file and add a section partial for it-->
    {{if isset .Params "sections"}}
    {{$page := .}}
    {{range $index, $section := .Params.sections}}
    {{ $resourceName := (printf "%s/00-%s.md" $section $section )}}
    {{ with $page.Resources.GetMatch $resourceName}}
    {{partial "single-work/page-section.html" (dict "page" $page "subsection" . "sectionName" $section ) }}
    {{end}}
    {{end}}
    {{end}}


    {{partial "image-modal.html"}}
</main>
{{ end }}