{{ define "main" }}
<main>
{{partial "single-work/page-header.html" . }}
    {{$page := .}}
    
    {{with $page.Params.page_nav}}
    {{partial "single-work/page-nav.html" (dict "page" $page "nav"  .) }}
    {{end}}

    <!-- for each section declared in the index.md, grab the associated resource file and add a section partial for it-->
    {{with $page.Resources.ByType "page"}}
        {{range sort  . ".Name"}}
            {{partial "single-work/page-section.html" (dict "page" $page "section" .  "sectionName" .Params.name ) }}
        {{end}}
    {{end}}


    {{partial "image-modal.html"}}
</main>
{{ end }}