{{$page := .page}}
<section class="process-nav meta-section">
    <div class="wrapper">
        {{with .nav.title}}
        <h2 class="text-center">{{.}}</h2>
        {{end}}
        <nav class="process row m-4 flex-wrap justify-content-center">
            {{range .nav.items}}
            <div class="section-link col">
                {{with .anchor}}<a href="#{{.}}"> {{end}}
                    <figure class="d-flex flex-column justify-content-center">
                        {{if .image}}
                        <img src="{{$page.Permalink}}{{ .image | relURL}}"
                             alt="{{ .label}}">
                        {{end}}
                        <fig-caption class="font-weight-bold">{{.label}}
                            {{with .desc}}
                            <span class="font-weight-light">{{.}}</span>
                            {{end}}
                        </fig-caption>
                    </figure>
                    {{with .anchor}}</a>{{end}}
            </div>
            {{end}}
        </nav>
    </div>
</section>